[submodule ".registry"]
	path = .registry
	url = https://github.com/vankesteren/universe
	shallow = true
	branch = HEAD
[submodule "firatheme"]
	path = firatheme
	url = https://github.com/vankesteren/firatheme
	shallow = true
	registered = true
[submodule "cmfilter"]
	path = cmfilter
	url = https://github.com/vankesteren/cmfilter
	shallow = true
	registered = true
