[submodule ".registry"]
	path = .registry
	url = https://github.com/vankesteren/vankesteren.r-universe.dev
	branch = HEAD
[submodule "cmfilter"]
	path = cmfilter
	url = https://github.com/vankesteren/cmfilter
[submodule "efast"]
	path = efast
	url = https://github.com/vankesteren/efast
[submodule "firatheme"]
	path = firatheme
	url = https://github.com/vankesteren/firatheme
[submodule "pensynth"]
	path = pensynth
	url = https://github.com/vankesteren/pensynth
[submodule "privreg"]
	path = privreg
	url = https://github.com/vankesteren/privreg
[submodule "rpeaks"]
	path = rpeaks
	url = https://github.com/vankesteren/rpeaks
[submodule "sfneighbourconnector"]
	path = sfneighbourconnector
	url = https://github.com/vankesteren/sfneighbourconnector
[submodule "tensorsem"]
	path = tensorsem
	url = https://github.com/vankesteren/tensorsem
